.registration-root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-submit {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 5rem;
  width: 27%;
}
.form-submit > .form-input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.profile-name {
  color: #fff;
}
